.home-container {
    max-height: 100vh;
    overflow-y: auto;
  }
  
  .home-content {
    width: 100%;
  }
  
  .rounded-lg {
    border-radius: 0.9rem;
  }
  
  .interactive-image {
    width: 65%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
  
  .interactive-image:hover {
    transform: scale(0.98);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .image-secondary,
  .image-third {
    margin-top: 3rem;
  }