@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 25%;
}

.post-comments-container {
  width: 50%;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
  padding-bottom: 4rem;
}

.post {
  margin-bottom: 20px;
}

.header .avatar {
  border-radius: 50%;
}

.header .user-info {
  display: flex;
  align-items: center;
}

.header .username {
  font-weight: bold;
}

.header .timestamp {
  margin-left: 10px;
  color: gray;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment .header .avatar {
  border-radius: 50%;
}

.comment .header .user-info {
  display: flex;
  align-items: center;
}

.comment .username {
  font-weight: bold;
}

.comment .timestamp {
  color: gray;
  font-size: 0.9em;
  margin-left: 10px;
}

.add-comment {
  padding: 0.5rem;
}

.add-comment .submit-button {
  cursor: pointer;
  background-color: transparent;
  color: #90ee90;
  border: 1px solid #90ee90;
  transition: transform 0.2s;
}

.add-comment .submit-button:hover {
  transform: scale(1.1);
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

textarea::placeholder {
  color: gray;
}